*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
.header{
    display:flex;
    background-color: black;
    opacity: 70%;
    height: 70px;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: flex-end ;
    padding-right: 70px;
}
.text{
    flex-direction: row;
    color:white;
    margin: 20px;
    padding-top: 5px;
}
.text1 {
    position: fixed;
    right: 80%;
}
.text2{
    opacity: 70%;
}
.text2:hover{
    opacity: 100%;
}
.bg{
    background-image: linear-gradient(#a600e7, #eb1fbf);
    height: 100vh;
}
.text-bg{
    position: absolute;
    top: 30%;
    text-align: center;
    font-weight: bolder;
    color: white;
    position: relative;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.text-bg1{
    font-size: 90px;
}

.text-bg2 {
    font-size: 60px;
}
button{
    position: absolute;
    top: 70%;
    left: 42%;
    background-color: rgb(255, 28, 123);
    border-color: transparent;
    width: 180px;
    height: 60px;
    border-radius: 100px;
    color: white;
    text-align: center;
    font-weight: bold;
}
button:hover {
    background-color: #ca2f68;
}

.content1{
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: space-evenly;
    margin: 50px;

}
.text-ct{
    background-color: transparent;
    height: 370px;
    width: 400px;
    
}
.text-ct1{
    font-size: 60px;
}
.text-ct2{
    line-height: 30px;
}
.img-ct{
    border-radius: 100%;
}
.footer{
    background-color: black;
    height: 130px;
    color:white;
    text-align: center;
    position: relative;
}
.text-ft{
    padding-top: 60px;
}