body{
    margin: 200px;
}
.box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.box-item{
    width: 30px;
    height: 30px;
    background-color: rgb(238, 131, 9);
    color: transparent;
}


